<script>
        let value = Math.random()
        export let src;
        export let apiKey;
        export let clientId;
        export let token;
        export let clientName;
</script>

<style>
    /* add your css here */
</style>

<div id={value}>
    <script
        src={src}
        data-apiKey={apiKey}
        data-clientId={clientId}
        data-token={token}
        data-clientName={clientName}
    ></script>
</div>
